
@import url('main.css');
@import url('//cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');
.wrapper{
  
}

.event-card{
    background-color: rgb(255, 255, 255, 0.1);
    margin: 50px 0;
    border-radius: 16px;
    
}

.event-image{
  
    margin: 5px 0px;
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;
   
    
}

.event-image img{
    width: 100%;
    border-radius: 10px;
    margin: 5px 0px;
    height: 300px;
    
    
}

.event-image a{
    display: block;
    z-index: 1;
    margin-right: 0px;
}

.link-icon{
    display: flex; 
    justify-content: flex-end;
     margin-right: 5px;
}



.event-title{
    color: white !important;
    text-align: left;
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 350;
   font-size: 38px;
   text-align: center;
}

.description{
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}