.wrapper{
    
    margin:0 auto;
    width: 95%;
   
}


.team h1{
    line-height: normal;
}

.team-card{
    margin: 30px;
   
    border-radius: 16px;
}

.profile-photo{
    margin: 20px auto ;
   width: 220px;
   height: 220px;
    border-radius: 50%;
   
}

.profile-photo img {
    width: 220px;
   height: 220px;
    border-radius: 50%;
   object-fit: cover;
    
   
}



.team-card h1{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

.team-card h2{
    color: white;
    text-align: center;
    font-size: 28px;
}

.team-card ul{
   display: inline-flex;
   text-align: center;
   list-style-type: none;
 
    
}

.team-card ul li{
 
    margin: 15px;
    margin-top: 25px !important;
    
}
.team-card ul li i{
    font-size: 22px;
    cursor: pointer;
}



